body{
    background-color: antiquewhite;
}

h1{
    color: green;
    background-color: yellow;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: yellow;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    color: white;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h5{
    color: green;
}