

body{
    background-color: hotpink;
}


h1{
    color: green;
    background-color: yellow;
    font-style: italic;
    position: absolute;
    top: 300px;
    left: 50px;
    word-wrap: break-word;
    width: 120px;
}

h2{
    color: yellow;
    background-color: green;
    height: 200px;
    position: absolute;
    top: 400px;
    
    width: 200px;
}

h3{
    color: white;
    background-color: blue;
    position: absolute;
    top: 233px;
    left: 80px;
    width: 200px;
    height: 70px;
}

h4{
    color: white;
    background-color: black;
    width: 210px;
    height: 70px;
    position: absolute;
    top: 173px;
    left: 50px;
}

h5{
    color: black;
    position: absolute;
    top: 1px;
}

h6{
    color: green;
    position: absolute;
    top: 70px;
    left: 100px;
}
